.container {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 10px;
}
.top_btn{
    display: flex;
    gap: 32px;
}

.contact_form{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.contact_form form{
    display: flex;
    gap: 17px;
    flex-direction: column;
}
.form_control{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}
.form_control input{
    border: 1px solid black;
    outline: none;
    height: 40px;
    padding: 0 10px;
}
.form_control label{
    position: absolute;
    top: -12px;
    left: 10px;
    background-color: #fff;
    padding: 0 9px;
    font-size: 14px;
}
.form_control textarea {
    border: 1px solid #000;
}
.contact_image {
    display: flex;
    align-items: center;
    margin-left: 45px;

}